@import "images";

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 12px;
	width: 800px;
	margin: auto;
	margin-top: 20px;
    background-color: #efefef;
    background-image: resolve-image("lines-top"), resolve-image("lines");
    background-repeat: repeat-x, repeat;
    background-position: top, top;
}

a {
	text-decoration: none;
	color: #404040;

	&:hover, &:focus {
		text-decoration: underline;
	}
}

/* Header styles */

#headerArea {
	display: flex;
	align-items:center;
	color: #fff;
}

#headerLogo {
	@include sprite("sprites", "logo");
}

#linksBar {
	height:32px;
	background: #000;
	display: flex;
	align-items: center;
	flex: 1;

    a {
        color: #fff;
        font-weight: bold;
        padding: 5px;
    }

}

#accountActions {
	margin-left: auto;
	margin-right: 5px;
}

/* Base content styles */

#content {
	margin-top: 20px;
}

#leftCol, #rightCol {
	display: inline-block;
}

#leftCol {
	width: 200px;
	margin-right: 10px;
}

#rightCol {
	width: 590px;
}

/* Card styles */

.card {
	background: #fff;
	border: 1px #404040 solid;
	padding: 1px;
}

.cardContent {
	padding: 5px;
}

.cardHeader {
	background: #000;
	font-weight: 700;
	color: #fff;
	height: 14px;
	padding: 2px;
	position: relative;

	&::after {
		content: "";
		@include sprite("sprites", "card_decoration");
		position: absolute;
		top: 0;
		right: 0;
	}
}

.cardContent {
	margin-top: 1px;
}

/* Footer styles */

#footer{
	text-align: center;
	background: white;
	border: 1px #404040 solid;
	padding: 1px;
	margin-top: 10px;
	font-size: 7pt;
	color: #404040;
}

/* Login page styles */

#loginPage{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.fieldwithLabel{
	display: flex;
	align-items: center;
	padding: 5px;
}

.inputField{
	height: 14px !important;
	width: 150px !important;
}