@import "images";

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 12px;
	width: 800px;
	margin: auto;
	margin-top: 20px;
    background-color: #efefef;
    background-image: resolve-image("lines-top"), resolve-image("lines");
    background-repeat: repeat-x, repeat;
    background-position: top, top;
}

@import "header";