{% extends "core.twig" %}
{% from "common/macros.twig" import card_begin %}
{% from "common/macros.twig" import card_end %}

{% block content %}

{{ card_begin("Error 404: Not Found") }}
The page you requested was not found on this site.
<br>
<a href="/">Return to homepage</a>
{{ card_end() }}
{% endblock %}