{% extends "core.twig" %}
{% from "common/macros.twig" import card_begin %}
{% from "common/macros.twig" import card_end %}

{% block content %}

{{ card_begin("About CustoDesk") }}
We should write some stuff here about the website in the future.
<br>
<a href="/">Return to homepage</a>
{{ card_end() }}
{% endblock %}