{% apply spaceless %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Custodesk</title>
        <link rel="stylesheet" href="{{ custodesk.vfl.resolveCSS("core") }}">
    </head>
    <body>
		<div id="headerArea">
			<a id="headerLogo" href="/"></a>
			<div id="linksBar">
				<a href="">Home</a>
				<a href="">Methods</a>
				<a href="">About</a>
				<div id="accountActions">
					<a href="">Create an account</a>
					<span>or</span>
					<a href="">	Log in</a>
				</div>
			</div>
		</div>
        {% block content %}{% endblock %}
    </body>
</html>
{% endapply %}