{% apply spaceless %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Custodesk</title>
		<link rel="shortcut icon" href="{{ custodesk.vfl.resolveImage("favicon") }}" type="image/png">
        <link rel="stylesheet" href="{{ custodesk.vfl.resolveCSS("core") }}">
    </head>
    <body>
		<div id="headerArea">
			<a id="headerLogo" href="/"></a>
			<div id="linksBar">
				<a href="">Home</a>
				<a href="">Methods</a>
				<a href="">About</a>
				<div id="accountActions">
					<a href="">Create an account</a>
					<span>or</span>
					<a href="">	Log in</a>
				</div>
			</div>
		</div>

		<table width="100%" height="800" border="0" cellpadding="0" cellspacing="0" id="cardArea">
			<td width="160" valign="top" id="leftContent">
				<div class="leftElement cardBase">
					<div id="cardHeader">Left side</div>
				</div>
			</td>
			<td width="100%" valign="top" id="mainContent">
				<div class="cardBase">
					<div id="cardHeader">Home</div>
				</div>
			</td>
		</div>
        {% block content %}{% endblock %}
    </body>
</html>
{% endapply %}