{% apply spaceless %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CustoDesk</title>
		<link rel="shortcut icon" href="{{ custodesk.vfl.resolveImage("favicon") }}" type="image/png">
        <link rel="stylesheet" href="{{ custodesk.vfl.resolveCSS("core") }}">
    </head>
    <body>
		<div id="headerArea">
			<a id="headerLogo" href="/"></a>
			<div id="linksBar">
				<a href="">Home</a>
				<a href="">Methods</a>
				<a href="about">About</a>
				<div id="accountActions">
					<a href="">Create an account</a>
					<span>or</span>
					<a href="">Log in</a>
				</div>
			</div>
		</div>

		<div id="content">
			{% block content %}{% endblock %}
		</div>

		<div id="footer">
			© 2026 CustoDesk. All Rights Reserved.
		</div>
		<script src="{{custodesk.vfl.resolveJS("core") }}"> </script>
    </body>
</html>
{% endapply %}